0 0 1 * * export PYTHONPATH=$PYTHONPATH:/usr/src/app/; /usr/local/bin/python3 /usr/src/app/process_papers.py -L INFO -N $(cat /etc/vfp_db_name | sed 's/\n//g') -U $(cat /etc/vfp_db_user | sed 's/\n//g') -P \"$(cat /etc/vfp_db_passwd | sed 's/\n//g')\" -H $(cat /etc/vfp_db_host | sed 's/\n//g') -w $(cat /etc/vfp_tazendra_user | sed 's/\n//g') -z $(cat /etc/vfp_tazendra_passwd | sed 's/\n//g') -d $(cat /etc/vfp_from_date | sed 's/\n//g') -o $(cat /etc/vfp_email_host | sed 's/\n//g') -r $(cat /etc/vfp_email_port | sed 's/\n//g') -u $(cat /etc/vfp_email_user | sed 's/\n//g') -p $(cat /etc/vfp_email_passwd | sed 's/\n//g') -e $(cat /etc/vfp_email_recipient | sed 's/\n//g') -m $(cat /etc/vfp_max_num_papers | sed 's/\n//g') -x $(cat /etc/vfp_exclude_ids_file | sed 's/\n//g') -y $(cat /etc/vfp_exclude_pap_types | sed 's/\n//g') >> /var/log/vfp_pipeline.log 2>&1