SHELL=/bin/bash
BASH_ENV=/container.env

0 0 1 * * /usr/local/bin/python3 /usr/src/app/process_papers.py -L INFO -N $DB_NAME -U $DB_USER -P $DB_PASSWD -H $DB_HOST -d $FROM_DATE -o $EMAIL_HOST -r $EMAIL_PORT -u $EMAIL_USER -p $EMAIL_PASSWD -e $EMAIL_RECIPIENT -m $MAX_NUM_PAPERS -x $EXCLUDE_IDS_FILE -y $EXCLUDE_PAP_TYPES >> /var/log/vfp_pipeline.log 2>&1
